* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    width: 1440px;
    margin: 0;
}
.parter {
    width: 1440px;
    height: 1024px;
}
.child {
    background: #1F0404;
    width: 61.04%;
    height: 250px;
    text-align: center;
    color: #D9D9D9;
    margin: 0 auto;
    padding: 65px;
    letter-spacing: 25px;
}
.text {
    background: #D9D9D9;
    width: 61.04%;
    height: 503px;
    text-align: center;
    margin: 0 auto;
}
p {
    font-size: 3em;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
p.text-1 {
    font-size: 1.5em;
    width: 79.7%;
    height: 409px;
    text-shadow: 7px 7px 1px #29240940;
    font-family: 'Roboto', sans-serif;
    padding: 75px;
    white-space:normal;
}
.child:first-letter{
    color: #71AA73B2;
}
span.one{
    color: #A3484899;

}
span.two{
    color: #475587;
}
span.three{
    color: #4B5E8D;
}
span.four{
    color: #B29F6D80;
}
span.five{
    color: #AA907166;
}
span.six{
    color: #7048A380;
}
span.seven{
    color: #874775;
}
span.eight{
    color: #8D4B63;
}
span.nine{
    color: #6DB2A299;
}
